<% layout('layout/boilerplate') %> 
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h1 class="mt-2">Hackers</h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
 
          <div class="text-center mb-3">
            <form action="/hackathons/<%=users.id%>/add" method="POST">
              <h3>Want others to see you ?</h3><button class="btn btn-primary m-lg-1">List yourself</button>
            </form>
          </div>

        <div class="row">
          <div class="col-8">
            <h4>Search</h5>
            <input type="search" name="search" id="search" class="form-control" placeholder="Hackathon">
            <hr>

            <% for(user of users.users){ %> 
            <div class="card" style="margin-bottom: 10px;">
              <div class="card-header">       
                <h5 class=" d-inline "><%=user.name%> </h5>
                <br>
                <span><%=user.city%> </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Skills</h5>
                <p class="card-text">
                  <ul>
                    <% for(skill of user.skills){ %> 
                    <li><%=skill%> </li>
                    <% } %> 
                  </ul>
                </p>
                <a href="#" class="btn btn-primary">Chat</a>
                <a href="#" class="btn btn-success">Team up</a>
              </div>
            </div>
            <% } %> 
          </div>
          <div class="col-4">
            <h4>Filters</h5>
              <hr>
            <div>
              <label for="form-select">Field</label>
              <select class="form-select" aria-label="Default select example">
                <option value="0">All</option>
                <option value="1">Web Development</option>
                <option value="2">App Development</option>
                <option value="3">Machine Learning</option>
                <option value="4">Blockchain</option>
                <option value="5">Other</option>
              </select>
            </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->