<% layout('layout/boilerplate') %>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h1 class="mt-2">Login</h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <form action="">
          <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <button class="btn btn-success">Login</button>
        </form>
      </div>
    </section>

  </main><!-- End #main -->