<% layout('layout/boilerplate') %> 
<main id="main">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <h1 class="mt-2">Error</h1>
  </div>
</section><!-- End Breadcrumbs -->

<section class="inner-page">
  <div class="container">
      <h1>Couldn't find what you are looking for</h1>
      <h3 class="text-muted">Are you sure you are at the right path?</h3>
      <p>We apologise for any inconvience</p>
  </div>
</section>

</main><!-- End #main -->