<% layout('layout/boilerplate') %> 
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h1 class="mt-2">Register</h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

        <form class="row g-3" method="HACKER">
          <div class="col-md-6">
            <label for="firstn" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstn">
          </div>
          <div class="col-md-6">
            <label for="lastn" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastn">
          </div>
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>

          <div class="col-12">
            <label for="skills" class="form-label">Skills</label>
            <input type="text" class="form-control" id="skills" placeholder="Eg. HTML,CSS (seperated by comma)">
          </div>
          <div class="col-md-6">
            <label for="university" class="form-label">University Name</label>
            <input type="text" class="form-control" id="university" placeholder="Eg. Thapar University">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-12">
            <label for="linked" class="form-label">Linkedin Profile Url</label>
            <input type="text" class="form-control" id="linked" placeholder="">
          </div>
          <div class="col-12">
            <label for="github" class="form-label">Github Profile Url</label>
            <input type="text" class="form-control" id="github" placeholder="">
          </div>
 
          <label for="achievments" class="form-label">Achievments</label>
          <textarea name="achievments" class="form-control" id="achievments" cols="25" rows="5" placeholder="Achievments(Seperated by commas)"></textarea>

          <button class="btn btn-success">Register</button>
        </form>
      </div>
    </section>

  </main><!-- End #main -->